@import "compass/reset";

body {
	display: flex;
	display: flex;
    justify-content: center;
}


.container {

	position: absolute;
	top: 200px;


	#lean-development-botton {


		#lean-development {

			height: 500px;
			


			#lean-botton {
				
				
				.st0{fill:#4782C3; z-index: 1;}
				.st1{display:none;fill:#4782C3;}
				.st2{display:none;}
				.st3{display:inline;fill:#4782C3;}
				.st4{display:inline;fill:#7FB2E0;}
				.st5{display:inline;fill:#E4F0FA;}
				.st6{display:inline;fill:none;stroke:#4782C3;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
				.st7{display:inline;fill:#FFFFFF;stroke:#4782C3;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
				.st8{display:inline;fill:none;stroke:#4782C3;stroke-width:3;stroke-miterlimit:10;}


			}
		}
	}


	#lean-top {

		#line-botton,
		#cup {
			fill:none;
			stroke:#4782C3;
			stroke-width:3;
			stroke-linecap:round;
			stroke-linejoin:round;
		}

		#tish-lamp-4 {
			fill:none;
			stroke:#4782C3;
			stroke-width:3;
			stroke-miterlimit:10;
		}

		#tish-lamp-1,
		#tish-lamp-2,
		#tish-lamp-3 {
			fill:#FFFFFF;
			stroke:#4782C3;
			stroke-width:3;
			stroke-linecap:round;
			stroke-linejoin:round;
		}

		#tish-lamp-3:hover {
		    fill: #ffff1a;
    		stroke: rgba(255, 255, 0, 0.35);
    		transition: .2s all;
		}
		
		#lean-top-el1,
		#lean-top-el2,
		#lean-top-el3,
		#lean-top-el3,
		#lean-top-el4,
		#lean-top-el5,
		#lean-top-el6,
		#lean-top-el7,
		#lean-top-el8,
		#lean-top-el9,
		#lean-top-el10,
		#lean-top-el11,
		#lean-top-el12,
		#lean-top-el13,
		#lean-top-el14,
		#lean-top-el15,
		#lean-top-el16,
		#lean-top-el18 {
			fill:none;
			stroke:#4782C3;
			stroke-width:3;
			stroke-miterlimit:10;
		}

		#lean-top-el17{
			fill:none;
			stroke:#4782C3;
			stroke-width:3;
			stroke-linecap:round;
			stroke-linejoin:round;
		}

	}

	#lean-mid {
		.st0{fill:#4782C3;}
		.st1{fill:#7FB2E0;}
		.st2{fill:#E4F0FA;}
		
		#lamp-botton-2,
		#lamp-botton-3,
		#lamp-botton-4 {
			fill:#7FB2E0;
		}

		#lamp-botton-1 {
			fill:#E4F0FA;
		}

	}
}










